/* Colors
-------------------------- */

$--color-success: #13ce66 !default;
$--color-warning: #E6A23C !default;
$--color-danger: #ff4949 !default;
$--color-info: #909399 !default;
$bule:#1E90FF;
$gray:#555;
$--color-background: #eef1f6 !default;
$--color-white: #fff !default;
$--color-menu-expend: #e4e8f1 !default;
$--color-black: #000 !default;
$--color-hover-background: #eef1f6 !default;
$--color-primary: #457cd6 !default;
$--color-baseSilver: #8391a5 !default;
$--color-selectOptionSelected: #1d90e6 !default;
$--color-lightBackground: #edf7ff !default;
$--color-tableBorder: #dfe6ec !default;
$container-width: 1200px !default;
$--color-text-placeholder: #c0c4cc !default;
// ------ 
$text-magin-color: #606266 !default;
$text-gray-color: #999999 !default;
$text-card-color: #777777 !default;
$text-title-color: #333333 !default;
$text-base-color: #000 !default;
$rc-backgound-color: #F8F8F8 !default;

/*tab切换*/

$text-tab-base-color: $text-base-color !default;
$text-border-color: #cccccc !default;
$box-shadow-color: #cccccc !default;

/*字体大小*/

$font-size-h1: 30px !default;
$font-size-h2: 18px !default;
$font-size-h3: 16px !default;
$font-size-h4: 14px !default;
$font-size-h5: 13px !default;
$font-size-h6: 12px !default;
$font-size-h7: 20px !default;
$font-size-h8: 22px !default;
$font-size-h9: 24px !default;
$font-size-z1: 26px !default;
$font-size-z2: 28px !default;

/*圆角大小*/

$border-radius-big: 8px !default;
$border-radius-small: 5px !default;
$border-radius-mini: 3px !default;